<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybhtakeawayapp"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许应用程序改变网络状态-->

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--允许应用程序改变WIFI连接状态-->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--允许应用程序访问有关的网络信息-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--允许应用程序访问WIFI网卡的网络信息-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--允许应用程序完全使用网络-->

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/add_blue"
        android:label="BUAA_TakeAway"
        android:roundIcon="@drawable/app_icon_your_company"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="登录页"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="注册页"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".user.UserActivityHome"
            android:exported="true"
            android:label="用户主页"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".FeedBackActivity"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".user.UserActivityStoreIndex"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".user.UserActivityShoppingCart"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".user.UserActivityOrderEnsure"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".user.setUserInformation"
            android:exported="true"
            android:label="用户修改信息"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".saler.SellerActivityHome"
            android:exported="true"
            android:label="商家主页"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".rider.DeliveryActivityMy"
            android:exported="true"
            android:label="骑手主页"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".admin.AdministratorHomeActivity"
            android:exported="true"
            android:label="管理员主页"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".user.UserActivityOderDetail"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".user.UserActivityOrderStatus"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".saler.SellerFoodItemInformation"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
    </application>

</manifest>